/*
323741
06858C
45C48B
FFD039
EB3E4A
*/


a.linkAnimate:active:before {
	/* opacity: 0.75; */
	border: 1px solid #272822;
}


a.linkAnimateCurrent{
	/* opacity: 0.75; */
	/* border: 1px solid #272822; */
	color: #fff;
	color: #fff;
	background-color: #06858C;

}

a.sideNavGames{
	color: white;
}

a.sideNavGames:hover{
	color: gold;
	cursor: pointer;
}
#sideNavContents li{
	margin-top: 10px;
	list-style-position: inside;
	list-style: none;
	list-style-type: none;
	overflow: hidden;
	padding-left: 0;
}

#sideNavContents ul{
	padding-left: 0;
}

#headerProfile{
	color: white;
	display: inline-block;
	float: right;
	padding: 1% 1% 1% 1%;
	margin: 0;
	width: 20%;
	}
#headerProfileText{
	color:white;
	display: inherit;
}
#headerProfilePic{
	max-width: 30%;
	padding: 0;
	margin-top: 10px;
}

#sideNav {
	float: left;
	width: 20%;
	margin: 2% 2% 2% 2%;
	height: 500px;
	border: 2px solid grey;
}
#sideNavContents {
	padding: 20px;
}
#gamePost {
	float: left;
	width: 65%;
	padding: 2% 2% 2% 2%;
	display: inline-block;
	height: 400px;
}

.post {
	border: 2px solid grey;
	padding: 30px;
	height: 100px;
}

.post:hover{
	background: black;
}

.userProfilePic {
	width: 75px;
	border-radius: 50%;
}

.none{

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
		padding: 0;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
		width:84%;
}
.dropdown-content a:hover {background-color: #ddd;}


#topNav #loginButtonContainer:hover .dropdown-content{display: block;}
