/*
323741
06858C
45C48B
FFD039
EB3E4A
*/

#headerBG {
	background-image: url("../resources/images/loz.jpg") !important;
}

a.sideNavGames{
	color: white;
}

a.sideNavGames:hover{
	color: gold;
	cursor: pointer;
}
#sideNavContents li{
	margin-top: 10px;
	list-style-position: inside;
	list-style: none;
	list-style-type: none;
	overflow: hidden;
	padding-left: 0;
}

#sideNavContents ul{
	padding-left: 0;
}

#sideNav {
	float: left;
	width: 20%;
	margin: 2% 2% 2% 2%;
	height: 500px;
	border: 2px solid grey;
}
#sideNavContents {
	padding: 20px;
}
#gamePost {
	float: left;
	width: 65%;
	padding: 2% 2% 2% 2%;
	display: inline-block;
	height: 400px;
}

.post {
	border: 2px solid grey;
	padding: 30px;
	height: 100px;
}

.post:hover{
	background: black;
}

.userProfilePic {
	width: 75px;
	border-radius: 50%;
}