<!DOCTYPE html>
<html lang="en">
<head>
	<title>Games</title>

	<meta charset="UTF-8">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="theme-color" content="#323741">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/forum.css">
	<link rel="stylesheet" href="/styles/user_header.css">
</head>
<body>
    {{> header_partial }} <!-- Notice that this is the same name as the header_partial.hbs file sans the extension, thats cuz line35 does this for all in a dir -->

	<nav id="sideNav">
		<div id="sideNavContents">
			<strong> Games </strong>
			<ul>
				<li class ='sideNavList'>

					<form id="userSearchInput">
							<input type="text" placeholder="Search for a Post">
							<input type="submit" value="Find Post">
					</form>
				</li>
				<li class ='sideNavList'>
					<button class="accordion">Game Station</button>
					<div class="panel">
						<ul>
							<li><button class = "accordionButton" value="platform">XBox One</button></li>
							<li><button class = "accordionButton" value="platform">Xbox 360</button></li>
							<li><button class = "accordionButton" value="platform">PS4</button></li>
							<li><button class = "accordionButton" value="platform">PS3</button></li>
							<li><button class = "accordionButton" value="platform">PSVita</button></li>
							<li><button class = "accordionButton" value="platform">PC</button></li>
							<li><button class = "accordionButton" value="platform">Switch</button></li>
							<li><button class = "accordionButton" value="platform">WiiU</button></li>
							<li><button class = "accordionButton" value="platform">Wii</button></li>
							<li><button class = "accordionButton" value="platform">3DS</button></li>
						</ul>
					</div>

					<button class="accordion">Number of People</button>
					<div class="panel">
						<ul>
							<li><button class = "accordionButton" value="people">2</button></li>
							<li><button class = "accordionButton" value="people">3</button></li>
							<li><button class = "accordionButton" value="people">4</button></li>
							<li><button class = "accordionButton" value="people">5</button></li>
							<li><button class = "accordionButton" value="people">6</button></li>
							<li><button class = "accordionButton" value="people">7+</button></li>
						</ul>
					</div>

					<button class="accordion">Genre</button>
					<div class="panel">
						<ul>
							<li><button class = "accordionButton" value="genre">MMRPG</button></li>
							<li><button class = "accordionButton" value="genre">FPS</button></li>
							<li><button class = "accordionButton" value="genre">Racing</button></li>
							<li><button class = "accordionButton" value="genre">Strategy</button></li>
						</ul>
					</div>
				</li>
				<li class ='sideNavList'>
					<button class="accordion">Sort</button>
					<div class="panel">
						<ul>
							<li><button class = "accordionButton" value="sort">by Date Posted</button></li>
							<li><button class = "accordionButton" value="sort">by Game Name</button></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<nav id="gamePost">
<anything to do with homepages>





	</nav>
	<div class="dialogContainer" id="postNotFound">
			<div class="dialogBox">
					<span class="closeBox">x</span>
					<br>Post not found
			</div>
	</div>

	<script type="text/javascript" src="/js/forum.js"></script>



</body>
</html>
