<!DOCTYPE html>
<html lang="en">
<head>
	<title>MNP - Looking for a person for 2 player co-op</title>

	<meta charset="UTF-8">
	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="theme-color" content="#323741">
	<meta name="viewport" content="width=device-width">

	<link rel="icon" type="image/ico" href="../../resources/images/logo2.png">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/post-main.css">
	<link rel="stylesheet" href="/styles/user_header.css">
	<link rel="stylesheet" href="/styles/post-edit.css">
</head>
<body>
    {{> header_partial }} 
				
	<section id="contents">
		<div id="threadContainer"><section id="thread">
			<section id="post-editSection"><form id="post-edit" action="">
				<div id="postTitle-editContainer"><span id="postTitle-editLabel" class="editFormInputLabel">Title: </span><input id="postTitle-edit" class="editFormInput" value="{{#if isEdit}} {{post.title}} {{/if}}"></div>
				<div id="keywords-editContainer"><span id="keywords-editLabel" class="editFormInputLabel">Keywords: </span><input id="keywords-edit" class="editFormInput" value="{{#each post.keywords}}{{this}} {{/each}}"></div>
				<hr>
				<div id="gameDetailsContainer"><section id="gameDetails">
					<div id="gameContainer"><section id="game-edit" class="sectionCard">
						<span id="gameTitle-editLabel" class="editFormInputLabel">Game to Play: </span><input id="gameTitle-edit" class="editFormInput" name="game" value="{{#if isEdit}}{{post.gameTitle}}{{/if}}">
						<div id="gameTitle-editDropdownContainer">
							
						</div>
					</section></div>
					<div id="spaceAvailableContainer"><section id="spaceAvailable" class="sectionCard">
						<span id="spaceAvailable-editLabel" class="editFormInputLabel">Players Needed: </span><input id="spaceAvailableNum-edit" class="editFormInput" value="1">
					</section></div>
				</section></div>
				<div id="postDetailsContainer"><section id="postDetails" class="sectionCard">
					<h4 class="editFormInputLabel">Edit Post Details</h4>
					<textarea id="userMessage-edit" class="editFormInput">{{#if isEdit}}{{post.details}}{{/if}}
					</textarea>
				</section></div>
				<div class="clearFloat"></div>
				<button id="post-editSubmit">Submit!</button>
				<div class="clearFloat"></div>	
			</section></form>
		</section></div>
	</section>

	<script src="/js/post-main.js"></script>
	<script src="/js/post-edit.js"></script>
</body>
</html>