/*
323741
06858C
45C48B
FFD039
EB3E4A
*/

@font-face {
	font-family: "EncodeSans";
	src: url("/resources/fonts/EncodeSans/EncodeSans-Medium.ttf");
}
@font-face {
	font-family: "EncodeSans-Regular";
	src: url("/resources/fonts/EncodeSans/EncodeSans-Regular.ttf");
}
@font-face {
	font-family: "EncodeSans-Light";
	src: url("/resources/fonts/EncodeSans/EncodeSans-Light.ttf");
}
@font-face {
	font-family: "EncodeSans-Bold";
	src: url("/resources/fonts/EncodeSans/EncodeSans-Bold.ttf");
}
@font-face {
	font-family: "EncodeSans-ExtraBold";
	src: url("/resources/fonts/EncodeSans/EncodeSans-ExtraBold.ttf");
}

html, body {
	font-family: "EncodeSans", sans-serif;
	margin: 0;
	color: #EEE;
}
body {
	background-color: #323741;
}
a {
	position: relative;
	text-decoration: none;
    background: none;
}

* {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* a tag hover animation */
a.linkAnimate {
	position: relative;
	text-decoration: none;
    background: none;
    border: none;
    outline: none;
    padding: 1px 1px;
    color: white;
    -webkit-transition: color 100ms;
    -o-transition: color 100ms;
    transition: color 100ms;
    /* Safari-flicker/shift-graphical-glitch hacky fix*/
    -webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

a.linkAnimate:before {
	position: absolute;
	content: '';
	background-color: #06858C;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transform: scaleY(0.07);
	    -ms-transform: scaleY(0.07);
	        transform: scaleY(0.07);
	-webkit-transform-origin: bottom;
	    -ms-transform-origin: bottom;
	        transform-origin: bottom;
    -webkit-transition: -webkit-transform 100ms;
    transition: -webkit-transform 100ms;
    -o-transition: transform 100ms;
    transition: transform 100ms;
    transition: transform 100ms, -webkit-transform 100ms;
}
a.linkAnimate:hover {
	color: #FFF;
}

a.linkAnimate:hover:before {
	-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	        transform: scaleY(1);
	border-radius: 2px;
}

a.linkAnimate:active:before {
	opacity: 0.75;
	border: 1px solid #272822;
}
/* end of a tag hover animation */

header {
	position: relative;
	z-index: 2;
	padding: 0;
	margin: 0;
	height: 250px;
	border-bottom: 1px solid #222;
}
header #headerBG {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 250px;
	background-color: black;
	background-image: url("../resources/images/fortnite.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
header #headerContainer {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	width: 40%;
}
header #headerContainer, #topNav {
	animation: iniEnter 750ms;
}
#headerContainerPadding {
	padding: 2rem 1rem 2rem 2rem;
}
header #headerTitleContainer {
	position: absolute;
	bottom: 0px;
	padding-right: 2rem;
}
header #headerTitle {
	font-family: "EncodeSans-ExtraBold", sans-serif;
	font-size: 2.5em;
	text-shadow: 3px 3px black;
	color: white;
}

#topNav {
	position: fixed;
	z-index: 3;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 2rem;
	display: inline-block;
	padding-bottom: 2rem;
	background-color: rgba(31, 35, 41, 0);
	box-shadow: 0 3px 3px 1px rgba(0,0,0,0);
	transition: padding-top 300ms, padding-bottom 300ms, background-color 300ms, box-shadow 300ms;
}
#topNav_title {
	position: absolute;
	display: inline-block;
	top: 1.2rem;
	left: 2rem;
	margin: 0;
	padding: 0;
	transition: top 300ms;
}
#topNav_titleImg {
	margin: 0;
	padding: 0;
	height: 4.5em;
	border: 2px solid #DDD;
	border-radius: 50%;
	transition: height 300ms;
}
#topNav_links {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	margin-left: 7.5em;
	padding: 0;
	transition: margin-left 300ms;
}
#topNav_links li {
	display: inline-block;
	margin: 0 4px;
	padding: 0;
}
#topNav_links a {
	min-width: 75px;
	display: inline-block;
	text-align: center;
	padding: 10px;
}

#topNav #loginButtonContainer {
	position: absolute;
	right: 0;
	top: 2rem;
	height: 100%;
	text-align: center;
	margin-right: 2rem;
	transform: translateY(0);
	transition: transform 300ms;
}
#loginButtonBG{
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	right: 0;
	top: 0;
	height: 100%;
	width: 95px;
	margin-right: 1rem;
	padding: 0 1rem;
}

#topNav #loginButton {
	position: relative;
	width: 75px;
	z-index: 2;
	margin: 0 0 0 0;
}
#topNav #loginButton:before {
	background-color: #FFD039;
}
#topNav #loginButton:hover {
	color: black;
}

.hamburger {
	position: absolute;
    z-index: 11;
    cursor: pointer;
}
.hamburger .bar {
    width: 1.75em;
    height: 5px;
    background-color: #FFF;
    margin-bottom: 6px;
    transition: opacity 250ms, transform 250ms;
    transform-origin: right;
}
.hamburger:hover .bar {
	background-color: #FFD039;
}
.hamburger.active .bar {
	opacity: 0;
}

.hamburger.active .bar:first-child {
	opacity: 1;
    -webkit-transform: rotate(-45deg) scaleX(1.1);
    transform: rotate(-45deg) scaleX(1.1);
}

.hamburger.active .bar:last-child {
	opacity: 1;
    -webkit-transform: rotate(45deg) scaleX(1.1);
    transform: rotate(45deg) scaleX(1.1);
}

#topNav_hamburger {
	display: none;
	top: 20px;
	top: 2rem;
	right: 2rem;
	transition: top 300ms;
}

@media screen and (max-width: 992px) {
	header #headerContainer {
		width: 53%;
	}
}
@media screen and (max-width: 768px) {
	header #headerContainer, #topNav {
		width: 100%;
		animation: iniEnter2 750ms;
	}
	#headerContainerPadding {
		padding: 2rem;
	}
	#topNav_title {
		position: relative;
		top: 0px;
		margin: 0;
		padding: 0;
	}
	header #headerTitle {
		font-size: 2em;
	}
	#topNav_hamburger {
		display: inline-block;
	}
	#topNav_links {
		position: fixed;
		top: 0;
		left: 100vw;
		margin: 0 !important;
		width: 200px;
		overflow: scroll;
		text-align: center;
		z-index: 10;
		padding: 75px 2rem;
		background-color: rgba(0,0,0,0.8);
		height: 100vh;
		animation: navSlideOut 300ms forwards;
	}
	#topNav_hamburger.active ~ #topNav_links {
		animation: navSlideIn 300ms forwards;
	}
	#topNav_links li {
		display: block;
	}
	#topNav_links #loginButtonContainer {
		position: relative;
		padding: 0;
		margin: 2rem 0;
		height: auto;
		background: none;
	}
	#topNav_links #loginButton {
		margin: 0;
	}
	#loginButtonBG {
		display: none;
	}
}

.loadingIcon {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
}
.loadingIcon div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	border: 2px solid;
	border-radius: 50%;
	border-color: white transparent transparent transparent;
	animation: loadIcon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.loadingIcon div:nth-child(1) {
	animation-delay: -0.45s;
}
.loadingIcon div:nth-child(2) {
	animation-delay: -0.3s;
}
.loadingIcon div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes loadIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


#deleteDialog {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.75);
	color: white;
}
#deleteDialog #deleteMessage {
	position: absolute;
	text-align: center;
	width: 300px;
	height: 400px;
	margin: -50px 0 0 -150px;
	top: 50%;
	left: 50%;
}
#deleteDialog #deleteMessage button {
	font-family: "EncodeSans-Medium";
	text-align: center;
	width: 100px;
	margin: 15px;
	padding: 10px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 1.15em;

	opacity: 0.75;
	color: black;
	border: 3px solid rgba(0,0,0,0);
	border-radius: 3px;
	transform: translateY(0);
	transition: transform 50ms;
}
button#deleteApprove {
	background-color: #EB3E4A;
}
#deleteDialog #deleteMessage button:hover {
	border: 3px solid rgba(0,0,0,0.3);
	opacity: 1;
}
#deleteDialog #deleteMessage button#deleteApprove:hover {
	border: 3px solid rgba(255,0,0,0.6);
}
#deleteDialog #deleteMessage button:active {
	opacity: 0.8;
	transform: translateY(4px);
}

@keyframes iniEnter {
	0%, 40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes iniEnter2 {
	0%, 40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes navSlideIn {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-264px);
	}
}
@keyframes navSlideOut {
	0% {
		transform: translateX(-264px);
	}
	100% {
		transform: translateX(0);
	}
}
