


.reportItem {
    width: 98%;
    margin: 1%;
    background-color: #24272f;
    overflow: auto;

}

.reportItem .profilePic {
    float: left;
    width: 10em;
    height:10em;
    margin: 1%;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,1);

}

.userName {
    margin: 1%;
    padding: 0.5%;
    margin-left: 17%;
    background-color: black;
    font-size: 2em;
    font-weight: bold;
}

.reportDate {
    margin: 1%;
    padding: 0.5%;
    margin-left: 17%;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #012442   ;
}

.reportContent {
    margin-right:10%;
    margin-left: 26%;
    padding: 0.5%;
    background-color: #3b3c3d;
}

.closeReport {
    display: block;
    border: none;
    width: 35%;
    padding: 1%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    background-color:   #4d0000;
    color: white;
    font-size: 1.2em;
}

.closeReport:hover {
        background-color:   #003300;

}

.pageNumberWrapper {
  display: block;
  width: 100%;
  margin-left: 45%;
}
/*
323741
06858C
45C48B
FFD039
EB3E4A
*/
.pageNumber{
  background-color: #4d0000;
  color: white;
  margin-right: 10px;
}

.pageNumber:hover{
  background-color: #EB3E4A;
}
