

#leftSideAccountPage {
   float: left;
   width: 25%;
   margin: 1%;
   background-color:  #24272f;
   text-align:center;
   border-radius: 20%;
}

#leftSideAccountPage img {
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
	border: 2px solid rgba(255,255,255,1);
}

#leftSideAccountPage form input[type="text"] {
    margin: 1%;
    padding: 3%;
    width: 70%;
}

form input[type="text"] {
    color: white;
    background-color:  #333333;
    border: none;
    border-radius: 10%;
}

form textarea{
    color: white;
    background-color:  #333333;
    border: none;
    border-radius: 10%;
    resize: none;
}

#leftSideAccountPage form input[type="submit"] {
    margin: 1%;
    margin-bottom: 2%;
    padding: 1%;
    width: 70%; 
}

form input[type="submit"] {
    color: white;
    background-color:   #4d0000;
    border: none;
    border-radius: 10%;   
}

form input[type="submit"]:hover {

    background-color:   #003300;

}

button {
    border: none;
    border-radius: 10%; 
    background-color:   #4d0000; 
    color: white;

}

#leftSideAccountPage button {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10%;
}

button:hover {
    background-color: #003300;
}
#accountPageMainContent {
    margin: 1%;
    margin-left: 27%;
    margin-right: 1%;
    text-align: center;
}






.userInfoSection {
    display: block;
    width: 90%;
    margin: 3%;
        background-color: #333333;
}

.userInfoSectionHeading {
    width: 98%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.userInfoSectionContent {
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
    background-color: #24272f;
}

.userInfoSection button {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
#userAbout {
    text-align: left;
}

.dialogContainer {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 10000;


}

.dialogBox {
    background-color: rgba(0,0,1,1);
    opacity: 10;
    position: relative;
    top: 20%;
    left: 20%;
    width:30%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    border-radius: 10%;
}



.closeBox {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1%;
    color: red;
}


.dialogBox form input{
    display: block;
    margin: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.dialogBox form textarea{
    display: block;
    margin: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#editProfilePicContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}
#editProfilePicDialog {
    position: relative;
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    padding: 20px;
    width: 70%;
    height: 70%;
    background-color: rgba(50, 55, 65, 0.95);
    border-radius: 10px;
    overflow: scroll;
}
#editProfilePicDialog h2 {
    margin-top: 0;
}
#editProfilePicButtonInput {
    position: absolute;
    z-index: -10;
    opacity: 0;
}
#editProfilePicButton,
#editProfilePicButtonSubmit {
    z-index: 1;
    position: relative;
    display: inline-block;
    top: 15px;
    cursor: pointer;
    border: none;
    font-size: 13px;
    padding: 10px;
    opacity: 1;
    color: black;
    background-color: #FFD039;
    border-radius: 3px;
    border: 3px solid rgba(0,0,0,0);
    transform: translateY(0);
    transition: transform 50ms;
}
#editProfilePicButtonInput:focus ~ #editProfilePicButton,
#editProfilePicButton:hover,
#editProfilePicButtonSubmit:hover {
    border: 3px solid rgba(0,0,0,0.3);
    background-color: #f2bb0c;
}
#editProfilePicButtonSubmit:active,
#editProfilePicButton:active {
    opacity: 0.8;
    transform: translateY(2px);
}

#editProfilePicButtonSubmit {
    display: none;
    background-color: #45C48B;
}
#editProfilePicButtonSubmit:hover {
    background-color: #1ae087;
}
#editProfilePicSampleContainer {
    position: relative;
    top: 60px;
    text-align: center;
}
#editProfilePicSample {
    position: relative;
    display: inline-block;
    background-color: rgba(0,0,0,0.25);
    height: 30vh;
    width: 30vh;
    min-width: 200px;
    min-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

#profilePicContainer,
#profilePicEditableContainer {
    position: relative;
    cursor: pointer;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(0,0,0,0);
}

#profilePicOverlay {
    position: absolute;
    display: none;
    top: 5%;
    left: 0;
    opacity: 0.5;
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0);
}
#profilePicEditableContainer:hover #profilePicOverlay {
    display: block;
}
#profilePicOverlay svg {
    position: absolute;
    fill: white;
    top: 50%;
    height: 30%;
    width: 30%;
    margin-top: -15%;
    margin-left: -15%;
}

.closeDialog {
    z-index: 1;
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: none;
    font-size: 13px;
    padding: 0px;
    opacity: 1;
    color: white;
    background: none;
    border-radius: 3px;
}
.closeDialog:hover {
    background: none;
}
.closeDialog svg {
    fill: white;
    opacity: 0.75;
}
.closeDialog:hover svg {
    fill: #EB3E4A;
    opacity: 1;
}

#editProfilePicError {
    position: absolute;
    color: #EB3E4A;
    top: -1.5em;
    z-index: 1;
}

@media screen and (max-height: 500px) {
    #editProfilePicDialog {
        height: 80%;
    }
}