/*
323741
06858C
45C48B
FFD039
EB3E4A
*/

header #headerBG {
	background-image: url("../../../resources/images/shovelknight.jpg");
}
#contents {
	margin: 2.25rem 2rem;
	animation: iniEnter 1500ms;
}
div.clearFloat {
	clear: both;
}

#sideNavContainer {
	float: left;
	width: 20%;
}
#sideNav {
	padding: 20px;
	height: 400px;
	background-color: rgba(0,0,0,0.2);
}
#threadContainer {
	/*float: left;*/
	width: 100%;
}
#thread {
	/*margin: 0 0 2rem 2rem;*/
}
#thread > section {
	background-color: rgb(40,44,52);
	padding: 30px;
	margin-bottom: 30px;
}

.sectionCard {
	position: relative;
	padding: 20px;
	background-color: rgba(0,0,0,0.4);
	box-shadow: 0 3px 3px 2px rgba(0,0,0,0.7);
	overflow: scroll;
}

#postTitle {
	margin-top: 0;
}

.keywordLabel {
	display: inline-block;
	background-color: #45C48B;
	color: black;
	padding: 4px 5px;
	margin-right: 1em;
	margin-bottom: 10px;
}
.keywordLabel.BYOC:after {
	content: "BYOC";
}
.keywordLabel.BYOC:hover:after {
	content: "Bring Your Own Controller";
}
.keywordLabel.gameGenre {
	background-color: #6369EB;
}
.keywordLabel.gamePlatform {
	background-color: #EBA652;
}

#post hr {
	margin: 10px 0 20px 0;
}
#gameDetailsContainer {
	float: left;
	width: 35%;
}
#gameContainer {
	display: inline-block;
	width: 100%;
}
#game .keywordLabel {
	font-size: 13px;
}
#gameImg {
	width: 100%;
	max-width: 800px;
	margin-bottom: 10px;
	box-shadow: 0 3px 3px 2px rgba(0,0,0,0.7);
}
#gameImgContainer {
	text-align: center;
}
#game h2, #game h3 {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 10px;
}
#game h3 {
	opacity: 0.75;
}

#postDetailsContainer {
	float: right;
	width: 65%;
}
#postDetails {
	margin-left: 20px;
}
#postDetailsUser {
	background-color: #1F2329;
	margin-bottom: 20px;
	white-space: nowrap;
}
#postDetailsUserInfo {
	vertical-align: middle;
	display: inline-block;
}
#postDetailsUserInfo .postDetailsLabel {
	display: block;
	font-size: 10px;
	font-family: "EncodeSans-Light";
}
.postDetailsLabel i {
	font-size: 13px;
}
i > .time {
	display: none;
}
#postDetailsUserInfo:hover .postDetailsLabel i > .time {
	display: inline;
}

.userName {
	font-family: "EncodeSans-Regular";
	margin: 0;
}
.userProfilePic {
	vertical-align: middle;
	height: 3em;
	border-radius: 50%;
	margin-right: 10px;
}
.userReport {
	position: absolute;
	top: 10px;
	right: 30px;
}
.userReport svg {
	fill: red;
	opacity: 0.5;
	background-color: white;
	padding: 3px;
	height: 1.5em;
	width: 1.5em;
}
.userSectionOptionsContainer {
	position: absolute;
	top: 30px;
	right: 25px;
	cursor: pointer;
}
.userSectionOptions {
	position: relative;
	font-family: "EncodeSans-Light";
	white-space: nowrap;
}
.userSectionOptions svg {
	position: relative;
	z-index: 1;
	fill: white;
	opacity: 0.45;
	height: 1.5em;
	width: 1.5em;
}
.userSectionOptions svg:hover,
.userSectionOptions svg.active {
	opacity: 1;
}.userSectionOptions svg.active {
	fill: #45C48B;
}
.userSectionOptionsList {
	position: absolute;
	top: 0;
	right: 1.5em;
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #323741;
	box-shadow: 0 3px 3px 1px rgba(0,0,0,0.7);
	border-radius: 5px;
}
.userSectionOptionsList li {
	text-align: center;
	margin: 0;
}
.userSectionOptionsList li a {
	position: relative;
	color: white;
	width: 110px;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	color: rgba(255,255,255,0.5);
	border-bottom: 1px solid grey;
}
.userSectionOptionsList li:last-child a {
	border-bottom: none;
}
.userSectionOptionsList li a:hover {
	color: rgba(255,255,255,1);
}
.userSectionOptions svg.active ~ .userSectionOptionsList {
	display: block;
}

.userMessage {
	position: relative;
	font-family: "EncodeSans-Regular";
	line-height: 1.5em;
	overflow: hidden;
	max-height: 480px;
}
.userMessage.overflow {
	overflow: visible;
	max-height: 100%;
}
.userMessageOverflowButton {
	font-family: "EncodeSans-Regular";
	font-size: 12px;
	border-radius: 3px;
	text-align: center;
	margin-top: 10px;
	padding: 5px 0;
	background-color: #323741;
	opacity: 0.75;
	cursor: pointer;
}
.userMessageOverflowButton:hover {
	opacity: 1;
}
.userMessageOverflowButton:active {
	opacity: 0.8;
}
.userMessageOverflowButton:after {
	content: "SHOW MORE";
}
.userMessageOverflowButton.overflow:after {
	content: "SHOW LESS";
}

#spaceAvailableContainer {
	width: 100%;
	margin-top: 20px;
}
#spaceAvailableTitle {
	opacity: 0.5;
}
#spaceAvailableNum {
	font-size: 1.5rem;
	margin-left: 5px;
}
#spaceAvailableSlots {
	line-height: 1em;
	margin-top: 10px;
}
.spaceAvailableSlotsImg {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	background-color: black;
}

@media screen and (max-width: 1200px) {
	#contents {
		margin: 2.25rem 2rem;
	}
}
@media screen and (max-width: 768px) {
	#contents {
		margin: 2.25rem 1rem;
		animation: iniEnter2 1500ms;
	}
	#thread > section {
		padding: 15px;
	}
	#gameDetailsContainer {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	#postDetailsContainer {
		float: none;
		width: 100%;
	}
	#postDetails {
		margin-left: 0;
	}
}